<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.thesammykins.lgtvmenubar</string>
    <key>CFBundleName</key>
    <string>LGTV Menu Bar</string>
    <key>CFBundleDisplayName</key>
    <string>LGTV Menu Bar</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.1</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <false/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>LGTV Menu Bar needs local network access to communicate with your LG TV.</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>LGTV Menu Bar needs Accessibility permission to capture volume keys for TV control.</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
</dict>
</plist>
